.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  display: flex;
}

.modal_content {
  border: 1px solid #fff;
  width: 500px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.title {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.button__group {
  margin: 0 5px 5px 5px;
  display: flex;
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  user-select: none;
}

.image__container {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #dddddd;
  background-color: white;
}

.image__zone {
  margin: 20px;
  height: 400px;
}

.upload {
  border: 3px solid #b5e550;
  background-color: #abc32f;
  margin-right: 2.5px;
}

.cancel {
  border: 3px solid #777777;
  background-color: #555555;
  margin-left: 2.5px;
}

.input_group {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin: 0 20px;
}

.label {
  margin-right: 10px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #303030;
}

.input {
  border: 1px solid #303030;
  outline: none;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.input__container {
  margin: 0 20px 10px 20px;
}

.input__group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputfile + label {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 10px 20px;
}

.inputfile + label {
  cursor: pointer;
}

.input__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.select__grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.select_container {
}

.select_group {
  display: flex;
}

.select,
.custom_text {
  outline: none;
  font-size: 0.9rem;

  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border-left: 1px solid #303030;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  border-right: none;
}

.select_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff9a00;
  background-color: #ff7400;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.option_container {
  display: flex;
  flex-direction: column;
}

.custom_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

.add_button {
  background-color: #abc32f;
  user-select: none;
  border: 2px solid #b5e550;
}

.cancel_button {
  background-color: #555555;
  user-select: none;
  border: 2px solid #777777;
}

.option_text {
}

.icon_outer_container {
  display: flex;
  justify-content: space-between;
}

.icon_container {
  display: flex;
}

.icon_input {
  border: 1px solid #303030;
  border-right: none;
  outline: none;
  width: 170px;
  padding: 10px 10px;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  color: white;
  font-size: 0.8rem;
  background-color: #555555;
  border: 2px solid #777777;
  user-select: none;
}
