.container .box img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.out_container {
  min-height: 100vh;
}

.container {
  width: 1400px;
  margin: 20px auto;
  columns: 4;
  column-gap: 10px;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.container .box img {
  max-width: 100%;
  border-radius: 15px;
}

.box {
  display: flex;
  position: relative;
  cursor: zoom-in;
}

.title {
  margin: 50px 0 50px 0;
  text-align: center;
  font-size: 1.8rem;
}

.box:hover .delete {
  visibility: visible;
  transform: scale(1.2);
  cursor: pointer;
}

.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.1s ease;
  border: 3px solid #ff7b7b;
  background-color: #ff5252;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  border-radius: 15px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.box:hover::before {
  opacity: 1;
}

.delete:hover {
  opacity: 0.8;
}

.out {
  /* min-height: 100vh; */
  margin: 0px 50px;
}

.addbtn {
  border: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}
