.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  /* border-radius: 25px; */
  border: none;
  cursor: pointer;
}

.title {
  font-weight: 400;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
