.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal_content {
  border: 1px solid #fff;
  width: 500px;
  background-color: #fff;
  /* border-radius: 15px; */
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  /* border-radius: 0 15px 0 0; */
  width: 35px;
  height: 35px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.title {
  font-weight: 400;
  font-size: 1.8rem;
}

.button__group {
  margin: 0 5px 5px 5px;
  display: flex;
}

.button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  flex: 1;
}

.image__zone {
  height: 300px;
}

.upload {
  border-right: 1px solid white;
}

.cancel {
  border-left: 1px solid white;
}

.image__container {
  margin: 5px 5px 5px 5px;
}

.input {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputfile + label {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 10px 20px;
}

.inputfile + label {
  cursor: pointer;
}
