.addbtn {
  border: none;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #f4f4f4;
}

th {
  background-color: #313131;
  color: white;
}

.actionbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 35px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #313131;
}

.edit {
  border: 3px solid #b5e550;
  background-color: #abc32f;
}

.delete {
  border: 3px solid #ff7b7b;
  background-color: #ff5252;
}

.paginate {
  display: flex;
  justify-content: center;
  padding: 0;
}

.paginate li {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-weight: bold;
  user-select: none;
}
