#root {
  margin: 0;
  user-select: none;
}

.scroll-top-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #f6f6f6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  height: 40px;
}

.scroll-top-button:hover {
  background-color: #bfbfbf;
}

.dropbtn {
  border: none;
  border-bottom: 1px solid #313131;
  background-color: transparent;
  padding: 10px 15px;
  text-align: center;
  font-size: inherit;
  min-width: 10rem;
  color: #313131;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.custom-date-range-picker {
  /* Your custom styles here */
}

/* Example: Changing the background color of the calendar */
.custom-date-range-picker .rs-picker-calendar {
  background-color: #f0f0f0;
}

/* Example: Changing the color of the selected dates */
.custom-date-range-picker .rs-picker-selected {
  background-color: #3399ff;
  color: #fff;
}