:root {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-color: #f3eee7;
  font-family: "Montserrat", sans-serif;
}


.parallax {
  background-image: url("./assets/images/bacground.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}